#logo {
	width: 270px;
	display: block;	
	margin-left:auto;
	margin-right:auto;
	margin-top: 190px;
}

#square_icon{
	width: 5%;
}

.field {
	display: block;	
	position: relative;
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;	
	width: 40%;
	height: 1.8em;
}

.buttons {
	text-align: center;
}

input[type = "submit"] {
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	-webkit-user-select: none;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.1);
	  color: #444;
	  font-family: arial,sans-serif;
	  font-size: 11px;
	  font-weight: bold;
	  margin: 11px 8px;
	  padding: 8px 6px 8px 6px;
	  text-align: center;
}

.header, .footer{
  position: absolute;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  height: 35px;
  width: 100%;
  padding: 0 0 0 0;
}
.footer{
  bottom: 0;
}
.header{
	top:0;
	background: #fff;
}

a {
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 0.8em;
	color: #666;
	margin-left: 10px;
	margin-right: 10px;
}

.left_links_foot {
	float:left;
	margin-right: 20px;
}
.right_links {
	float:right;
	position:relative;
	margin-left: 20px;
}

.right_links_head {
	float:right;
	position:relative;
	margin-left: 20px;
	margin-top: 5px;
}
#signin {
	position: relative;
	float:right;
	height: 30px;
	width: 60px;
	background: #4387fd;
	border-radius: 3px;
	text-color: white;
	font-family: arial,sans-serif;
	font-style: bold;
	margin-right:200px;
	margin-left: 0px;
}




